# Ignore build and dependency directories
node_modules/
dist/
coverage/

# Ignore static files
public/

# Ignore config files that aren't part of TS project
eslint.config.js
prettier.config.js
vite.config.ts

# Misc
*.config.cjs
*.config.js
*.config.mjs
